build
_build
build-openssl
dist
*~
\#*
MANIFEST
core
vgcore*
__pycache__
*.so
confluent?kafka.egg-info
*.pyc
.cache
*.log
confluent-kafka-*.*.*
tmp-build
.tox
wheelhouse
dl-*
*.whl
.pytest_cache
staging
tests/docker/conf/tls/*
.python-version
.DS_Store
.idea
tmp-KafkaCluster
.venv
venv_test
venv_examples
