-r requirements-schemaregistry.txt
-r requirements-avro.txt
-r requirements-json.txt
-r requirements-protobuf.txt
-r requirements-dev.txt
pytest
pytest-timeout
flake8
requests_mock
build
trivup >= 0.8.3
urllib3 < 2.0.0; python_version <= "3.7"