urllib3<2.0.0;python_version<="3.7"
urllib3
flake8
pytest==4.6.9;python_version<="3.0"
pytest>=6.0.0;python_version>="3.0"
pytest-timeout
requests-mock
trivup>=0.8.3
fastavro<1.8.0;python_version=="3.7"
fastavro>=1.8.4;python_version>"3.7"
fastavro
avro>=1.11.1,<2
jsonschema
protobuf
