flake8
pytest==4.6.9;python_version<="3.0"
pytest>=6.0.0;python_version>="3.0"
pytest-timeout
requests-mock
trivup>=0.8.3
fastavro
avro>=1.11.1,<2
jsonschema
protobuf

# Cap the version to avoid issues with newer editions. Should be periodically updated!
mypy<=0.991
types-protobuf
types-jsonschema
types-requests
types-six