azure-identity
azure-keyvault-keys
boto3>=1.35
cel-python>=0.4.0
# Pin google-re2 to last version with Python 3.9 wheels (see https://pypi.org/project/google-re2/1.1.20251105/#files)
google-re2<1.1.20251105
google-auth
google-api-core
google-cloud-kms
hkdf==0.0.3
hvac
jsonata-python
# Dependency of cel-python.  Use version 6 due to https://github.com/yaml/pyyaml/issues/601
pyyaml>=6.0.0
tink
